<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
      th,
      td {
        padding: 10px;
        text-align: left;
      }
      img {
        max-width: 200px;
        height: auto;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Dashboard</a> | <a href="/users">Users</a> |
      <a href="/chats">Chats</a> |
      <a href="/view_photos">View Photos</a>
    </nav>
    <hr />
    {% block content %}{% endblock %}
  </body>
</html>
